/* .all-tab-img img {
  padding-bottom: 20px;
}
.all-tab-img img:nth-last-child(2) {
  padding-bottom:0;
} */
.container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}
.ourwork-tab-wrap{
  padding: 50px 0px;
  position: relative;
}
.ourwork-tab-wrap .nav-tabs {
  display:none;
  border-bottom: none;
}
.ourwork-tab-wrap .nav-tabs .nav-item {
    display: flex;
    width: 100%;
    align-items: center;
    background: #fff;
    margin-bottom: 0px;
    border-bottom: 1px solid #d1d1d1;
    border-right: 1px solid #d1d1d1;
    color: #0037a1;
    cursor: pointer;
    text-transform: uppercase;
    transition: all .4s ease-in-out;
}
.ourwork-tab-wrap .nav-tabs .nav-item:last-child {
  border-bottom:none;
}
.ourwork-tab-wrap .nav-tabs .nav-link{
    display: flex;
    align-items: center;
    width: 100%;
    height: 64px;
    border: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    color:  #0037a1;
    text-transform: uppercase;
    padding: 0 10px 0 40px;
}
.ourwork-tab-wrap .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
  background:  #002F8A;
  color: #fff;
}
.tabs {
  background: #fff;
  border: 2px solid #2c2d36;
  display: flex;
  justify-content: space-between;
  margin-top: 18px;
}

.ourwork-tab-wrap .tab-content {
  width: 50%;
}

.card-boby {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px 20px 15px 28px;
  transition: all .4s ease-in-out;
  width: 100%;
}
.card-boby-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all .4s ease-in-out;
}
 .card-boby-item {
  align-items: center;
  display: flex;
  font-size: 18px;
  justify-content: space-between;
  line-height: 1.2;
  margin-bottom: 16px;
  transition: all .4s ease-in-out;
}
.card-boby-desc {
  color: #0037a1;
  font-weight: 300;
  margin-bottom: 0;
  text-decoration-line: underline;
  width: 70%;
}
.card-boby-count {
  color: #ce2a1d;
  font-weight: 600;
  margin-bottom: 0;
}
.card-boby-count span {
  color: #2c2d36;
  font-weight: 300;
  margin-left: 5px;
}

@media(min-width:576px) {
  .ourwork-tab-wrap .nav-tabs {
      display: flex;
     flex-direction: column;
     width: 50%;
  }

  .ourwork-tab-wrap .card {
      border: none;
  }

  .ourwork-tab-wrap .card .card-header {
      display:none;
  }

  .ourwork-tab-wrap .card .collapse{
      display:flex;
      width: 100%;
  }
}



@media(max-width:575px){
  .ourwork-tab-wrap .tab-content {
    width: 100%;
}
  .ourwork-tab-wrap .tab-content > .tab-pane {
      display: block !important;
      opacity: 1;
  }

  .ourwork-tab-wrap .card-header {
      background: #002F8A;
      color: #fff;
      border-bottom: 1px solid #d1d1d1;
      border-right: 1px solid #d1d1d1;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
  }
  .ourwork-tab-wrap .card-header h5 a{
      color: #fff;
      border-bottom: none;
      text-decoration: none;
      font-size: 16px;
      display: block;
      
  }
  .ourwork-tab-wrap .card-body {
      /* border: 1px solid #427fad; */
  }
  .ourwork-tab-wrap .card-header h5 a:hover {
      color: #fff;
  }

}